table {
  line-height: 1.5;
}

tbody > tr > th {
  padding-top: 2rem;
  padding-bottom: 0.5rem;
  background: unset;
}

tbody > tr > td {
  background: unset;
  border-bottom: 1px solid #ccc;
  padding-top: 0.5rem;
}

tbody :nth-child(2n of tr) {
  background: #e7eaf0;
}

tbody > tr.tbdata ::first-line {
  color: black;
}

tbody > tr.tbdata > td ::first-line {
  color: #666;
}

tbody > tr.tbdata > td > svg {
  // width: 10rem;
  display: block;
  // margin: auto;
  height: 100%;
  fill: #315584;
  display: block;
  max-height: 100%;
}

tbody > tr.tbdata > td :has(svg) {
  vertical-align: middle;
}
