.notifications {
  position: fixed;
  bottom: 0.8rem;
  right: 0.8rem;
  width: 25vw;
  height: fit-content;
  z-index: 50;

  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: flex-end;

  &__notification {
    animation: 500ms fade-in ease-in-out;
    border-radius: 0.8rem;
    background-color: #47bb5d;
    flex: 0 0 100px;
    color: white;
    font-size: 1.4rem;
    font-weight: bigger;
    position: relative;
    user-select: none;

    display: flex;
    gap: 0.8rem;
    align-items: center;
    padding-inline: 1.2rem;
  }

  &__close-button {
    position: absolute;
    top: 2px;
    right: 8px;

    &:hover {
      cursor: pointer;
      color: red;
    }
  }
}

.fade-out {
  animation: 500ms fade-out ease-in;
}

@keyframes fade-in {
  from {
    transform: translateY(50px);
    opacity: 0;
  }

  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
    transform: translateX(0px);
  }

  to {
    opacity: 0;
    transform: translateX(500px);
  }
}
