@use '../palette.scss';

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 50px;
  height: 20px;
}

/* Outline of the focused switch */
.switch:focus-within {
  outline: 2px solid white;
  border-radius: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-btn-switch-bg);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 12.5px;
  width: 12.5px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--color-btn-accept-bg);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--color-btn-accept-bg);
}

input:checked + .slider:before {
  -webkit-transform: translateX(30px);
  -ms-transform: translateX(30px);
  transform: translateX(30px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

input[type='checkbox']:checked {
  filter: hue-rotate(220deg);
}
