/* list */
.list {
  max-height: 555px;
  overflow: auto;
}

.list-entry {
  display: flex;
  padding: 10px;
  border-bottom: #dddddd solid 2px;
  margin: 2px;
  margin-left: 7px;
  margin-right: 7px;
  text-decoration: none;
  color: black;
}

.list-entry-text {
  flex: 9;
  justify-self: center;
  align-self: center;
  overflow: hidden; /* One-line text and crop */
  white-space: nowrap; /* One-line text and crop */
  text-overflow: ellipsis; /* One-line text and crop */
}

.list-entry-img {
  flex: 1;
  align-items: center;
  justify-content: center;
  display: flex;
}

.list-img {
  object-fit: contain;
  width: 37px;
  height: 20px;
}

/* grid */
.grid-container {
  display: grid;
  justify-content: space-between;
  align-content: start;
  grid-template-columns: auto auto auto;
  grid-gap: 30px;
  margin: 15px;
  max-height: 350px;
  overflow: auto;
}

.grid-text {
  text-align: center;
  flex: 1;
}

.grid-item {
  width: 180px;
  height: 200px;
  display: flex;
  flex-direction: column;
  border: solid #303a44 1px;
}

.grid-img {
  border-radius: 10%;
  flex: 10;
  object-fit: cover;
  background-color: #20262e;
}

body {
  border: solid 2px #909090;
  background-color: #ffffff;
  border-radius: 7px;
  max-width: 600px; /*limit by chrome: 789px*/
  min-width: 560px; /*limit by chrome: 789px*/
  max-height: 590; /*limit by chrome: 590px*/
  margin: 0px;
  font-size: 14px;
}

html {
  background-color: #909090;
}


/* Footer */
.settings-footer {
  display: flex;
  width: 100%;
  height: 35px;
  border-top: solid 2px #909090;
  border-radius: 3px;
  box-shadow: 0px -3px 3px rgba(20,20,20,0.2); /* offset-x | offset-y | blur-radius | spread-radius | color */
}

.settings-section {
   border-right: solid 2px #909090;
   border-left: solid 2px #909090;
   display: flex;
   align-items: center;
   justify-content: space-evenly;/*start*/;
   padding-left: 15px;
   padding-right: 15px;
}

.settings-section-icon {
   display: flex;
   border: none;
   align-items: center; /*space-between*/
   justify-content: center;
   padding-left: 6px;
   padding-right: 6px;
   border-radius: 3px;
}

.settings-text {
  float: left
}

.settings-icon {
  float: right;
  margin-left: 15px;
}

/* headline */
.headline {
  display: none;
}

/* scrollbar */
.custom-scrollbar::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(68,68,68,0.3);
	box-shadow: inset 0 0 6px rgba(68,68,68,0.3);
	border-radius: 10px;
	background-color: #dbdbdb;
}

.custom-scrollbar::-webkit-scrollbar
{
	width: 12px;
	background-color: #dbdbdb;
}

.custom-scrollbar::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(68,68,68,.3);
	box-shadow: inset 0 0 6px rgba(68, 68, 68, 0.3);
	background-color: #b1b1b1;
}

.list-entry:hover,
.settings-section-icon:hover
{
  background-color: #e5e5e5;
}