/* list */
.list {
  max-height: 450px;
  overflow: auto;
  margin-bottom: 3px;
  overflow-x: hidden;
}

.list-entry {
  display: flex;
  padding: 9px;
  border-bottom: #dddddd solid 1.5px;
  margin: 2px;
  margin-left: 5px;
  margin-right: 5px;
  text-decoration: none;
  color: black;

}

.studiengang-img {
  flex: 1;
  padding-right: 7px;
  max-height: 35px;
  width: auto;
}

.list-search {
  flex: 100;
  margin-left: 7px;
  margin-right: 10px;
  border-radius: 3px;
  font-size: 12px;
  border: #dddddd solid 1.5px;
  background-image: url('./icons/searchicon.png'); /* Add a search icon to input */
  background-position: 12px 7px; /* Position the search icon */
  background-size: 19px;
  background-repeat: no-repeat; /* Do not repeat the icon image */
  padding: 9px 0px 9px 40px; /* Add some padding */
}

input:focus,
.list-search:focus {
    /*outline: none !important;
    border: #dddddd solid 2px;*/
}

.list-entry-text {
  flex: 9;
  justify-self: center;
  align-self: center;
  overflow: hidden; /* One-line text and crop */
  white-space: nowrap; /* One-line text and crop */
  text-overflow: ellipsis; /* One-line text and crop */
}

.list-entry-img {
  flex: 1;
  align-items: center;
  justify-content: center;
  display: flex;
}

.list-img {
  object-fit: contain;
  width: 32px;
  height: 16px;
}

body {
  border: solid 2px #909090;
  background-color: #ffffff;
  border-radius: 4px;
  max-width: 510px; /*limit by chrome: 789px*/
  min-width: 510px; /*limit by chrome: 789px*/
  max-height: 590px; /*limit by chrome: 590px*/
  margin: 0px;
  font-size: 12px;
}

html {
  background-color: #909090;
}


/* Footer */
.settings-footer {
  border-top: solid 2px #909090;
  border-radius: 3px;
  border-right: none;
  box-shadow: 0px -3px 3px rgba(68, 68, 68, 0.3); /* offset-x | offset-y | blur-radius | spread-radius | color */
}

.settings-footer-bar {
  display: flex;
  height: 30px;
  border-top: solid 2px #dddddd;
  border-radius: 0px;
}

.settings-section {
   border-right: solid 2px #dddddd;
   border-left: solid 2px #dddddd;
   display: flex;
   align-items: center;
   justify-content: space-evenly;/*start*/;
   padding-left: 4px;
   padding-right: 4px;
}

.settings-section-icon {
   display: flex;
   border: none;
   height: 100%;
   align-items: center; /*space-between*/
   justify-content: center;
   padding-left: 6px;
   padding-right: 6px;
   border-radius: 3px;
}

.settings-text {
  float: left;
}

.settings-icon {
  float: right;
  margin-left: 15px;
}

.settings-img {
  object-fit: contain;
  width: 32px;
  height: 17px;
}

/* headline */
.headline {
  display: none;
}

/* scrollbar */
.custom-scrollbar::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(68,68,68,0.3);
	box-shadow: inset 0 0 6px rgba(68,68,68,0.3);
	border-radius: 10px;
  background-color: #dbdbdb;
}

.custom-scrollbar::-webkit-scrollbar
{
	width: 10px;
  background-color: #dbdbdb;
  
}

.custom-scrollbar::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(68,68,68,.3);
	box-shadow: inset 0 0 6px rgba(68, 68, 68, 0.3);
	background-color: #9c9c9c;
}

.list-entry:hover,
.settings-section-icon:hover
{
  background-color: #e5e5e5;
}
