@import url("vars.css");

:root {
  color-scheme: light dark;
  /* text */
  --color-text: var(--color-text-light-primary);
  --color-text-secondary: var(--color-text-light-secondary);
  --color-link: var(--color-link-light-primary);
  font-family: -apple-system, "SF Pro Text", Helvetica, Arial, sans-serif !important;
  /* background */
  --color-bg-secondary: var(--color-bg-light-secondary);
  --color-bg-secondary-hover: var(--color-bg-light-secondary-hover);
  background-color: var(--color-bg-light-primary);
  /* text input */
  --color-text-input-bg: var(--color-text-input-bg-light);
  --color-text-input-bg-hover: var(--color-text-input-bg-light-hover);
}

@media (prefers-color-scheme: dark) {
  :root {
    /* text */
    --color-text: var(--color-text-dark-primary);
    --color-text-secondary: var(--color-text-dark-secondary);
    --color-link: var(--color-link-dark-primary);
    /* background */
    --color-bg-secondary: var(--color-bg-dark-secondary);
    --color-bg-secondary-hover: var(--color-bg-dark-secondary-hover);
    background-color: var(--color-bg-dark-primary);
    /* text input */
    --color-text-input-bg: var(--color-text-input-bg-dark);
    --color-text-input-bg-hover: var(--color-text-input-bg-dark-hover);
  }
}

a {
  /* transition: color 500ms cubic-bezier(0.19, 1, 0.22, 1); */
  transition-property: color;
  transition-duration: var(--fn-duration-long-in);
  transition-timing-function: var(--fn-animation-strong);
  text-decoration: none;
}

a,
a > code,
a[name]:hover {
  color: var(--color-base-blue-link);
}

a:hover {
  text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-rendering: optimizeLegibility;
}

h1 {
  margin: 0 auto 3rem;
  font-size: 5.6rem;
  font-weight: 500;
  letter-spacing: 0.004rem;
  line-height: 1.10746;
  text-align: center;
  text-decoration: none;
}

h2 {
  margin: 4rem 0 1rem;
  font-size: 2.2rem;
  font-weight: 500;
  letter-spacing: -0.011rem;
  line-height: 1.09375;
}
