body {
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 50px;
    margin-top: 30px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 25px;
} 

html { overflow-y: scroll; }

.heading {
    font-size: 20px;
    font-weight: bold;
}

.grey-text {
  color: grey;
}

.the-bottom {
  padding:0px;
  bottom: 0%;
  margin-left: 5%;
}


.red-text {
  color: darkred;
}


.small-text {
  font-size: 12px;
}

input[type=text], input[type=password] {
  width: 200px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  box-sizing: border-box;
}

input::-webkit-input-placeholder {
    font-size: 13px;
}

input:focus {
  outline: none !important;
}

button {
  width: 200px;
  background-color: grey;
  color: white;
  padding: 12px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 13px;
}

button:hover {
  background-color: darkgray;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  padding-right: 35px; /* required because arrow-symbol is scaled */
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  font-size: 14px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.accordion:after {
    content: '\2039'; /* Unicode character for "arrow" sign  */
    -webkit-transform: rotate(-90deg) scale(2.5 , 2.5);
    transform: rotate(-90deg) scale(2.5 , 2.5);
    font-size: 14px;
    color: #777;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\203A"; /* Unicode character for "arrow" sign  */
  }

#dashboard-tutorial {
  position: fixed; /* absolute //for scrolling*/
  top: 0px;
  right: 0px;
  margin-top: 2%;
  width: 10%;
  margin-right: 2%;
}

/* radio select */
/* Customize the label (the container) */

[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    /*display: inline-block;*/
}

[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: rgb(47, 143, 18);
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.helper img {
    vertical-align: middle;
}

.button-accept {
  width: 200px;
  background-color:rgb(47, 143, 18);
  color: white;
  padding: 12px 19px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.button-accept:hover {
  background-color: rgb(44, 190, 0);
}

.button-deny {
  width: 200px;
  background-color:darkgrey;
  color: white;
  padding: 12px 19px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.button-deny:hover {
  background-color: grey;
}


  
