@import 'palette.css';

.the-bottom {
    padding:0px;
    bottom: 13%;
    font-size: 1.3em;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    display: "inline-block";
}

.grey_a {
    text-decoration: underline;
    color: var(--color-text-secondary);
    font-weight: 100;
}

.grey {
    color: var(--color-text-secondary);
    font-weight: 100;
}


#download-section{
    position: relative;
    top: 1.3em;
}

html {
    overflow: hidden;
}

.tufast_text {
    text-align: center;
}

.download-link {
    font-size: 1em;
}

.huge{
    font-size: 1.5em;
    font-weight: 800;
    display: inline;
    vertical-align: middle;
    line-height: 1.4em;
}

.the-middle {
    padding:5px;
    top: 3%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.9em;
    line-height: 2em;
    text-align: center;
}

.imgicon {
    height: 1em;
    vertical-align: middle;
}

.browser_name {
    display: inline;
    vertical-align: middle;
    font-size: 0.9em;
    line-height: 0.9em;
}

a {
    text-decoration: none;
}