.the-bottom {
    padding:0px;
    bottom: 0%;
    font-size: 1.3em;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    display: "inline-block";
}

#content {
	border: 5px solid red;
}

html {
	
	font-family: 'Roboto', sans-serif;
}

#download-section{
    position: relative;
    top: 2em;
}

.the-top {
    padding:5px;
    top: 1%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.tufast_text {
    text-align: center;
}

.download-link {
    font-size: 1em;
}

.huge{
    font-size: 1.8em;
    font-weight: 1000;
    display: inline;
    vertical-align: middle;
    line-height: 1.4em;
}

.the-middle {
    padding:5px;
    top: 25%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2.4em;
    line-height: 2em;
    text-align: center;
}

.imgicon {
    height: 1em;
    vertical-align: middle;
}

.browser_name {
    display: inline;
    vertical-align: middle;
    font-size: 0.9em;
    line-height: 0.9em;
}

a {
    text-decoration: none;
}

@media (max-width: 500px) 
{
   .the-bottom 
   {
       font-size: 0.9em; 
   }
   .the-middle
   {
       font-size: 1.35em;
	   top: 30%;
   }
   .github_small
   {
       visibility: hidden;
       display: none;
   }
}
@media (min-width: 500px) 
{
   .github_big
   {
       visibility: hidden;
       display: none;
   }
}

@media (max-height: 780px)
{
    .the-middle {
        top: 15%;
    }
	#download-section{
	    top: 1em;
	}
}