body {
    margin-left: 35%;
    margin-top: 5%;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 25px;
} 
@media (max-width: 799px) {
  body {
    margin-left: 5%;
  }
}
@media (max-width: 1100px) and (min-width: 800px) {
  body {
    margin-left: 20%;
  }
}
@media (max-width: 1400px) and (min-width: 1100px) {
  body {
    margin-left: 30%;
  }
}

html { overflow-y: scroll; }

.heading {
    font-size: 21px;
    font-weight: bold;
}

.grey-text {
  color: rgb(170, 169, 169);
}

.the-bottom {
    padding:0px;
    bottom: 0%;
    position: absolute;
    margin-left: 5%;
}


.button-accept {
  width: 190px;
  background-color:rgb(47, 143, 18);
  color: white;
  padding: 12px 19px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.button-accept:hover {
  background-color: rgb(44, 190, 0);
}

.button-deny {
  width: 190px;
  background-color:darkgrey;
  color: white;
  padding: 12px 19px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.button-deny:hover {
  background-color: grey;
}
  
