#counter {
  color: var(--counter-color);
  opacity: 1;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  z-index: 999;
}

#counterContainer {
  position: relative;
}

#TUfastIcon {
  max-height: 0.9em;
  cursor: pointer;
}