@use 'palette';

body {
  font-family: Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  margin: 0;
  max-width: 510px; /* limit by chrome: 789px */
  min-width: 510px; /* limit by chrome: 789px */
  max-height: 590px;/* limit by chrome: 590px */
  --clr-border: hsl(var(--clr-white), .5);
}

#banana {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: .6;
}

.header {
  display: grid;
  grid-template-columns: 70% 10% 10% 10%;
  grid-template-rows: 3.5rem;
  padding-right: 1rem;

  &__search {
    border: none;
    border-radius: .5rem;
    margin-inline: .5rem;

    background-image: url("../../assets/icons/searchicon.png"); /* Add a search icon to input */
    background-position: 12px 12px; /* Position the search icon */
    background-size: 20px;
    background-repeat: no-repeat; /* Do not repeat the icon image */

    padding-block: .6rem;
    padding-inline: .5rem;
    padding-left: 2.5rem;

    background-color: hsl(var(--clr-black));
    color: hsl(var(--clr-white));

    &:hover {
      outline: 1px solid hsl(var(--clr-white), .6);
    }

    &:focus-within {
      outline: 2px solid hsl(var(--clr-primary), .8);
    }

  }

  > * {
    align-self: center;
  }

  &__icon-2 {
    min-width: 10px;
  }
}

.dropdown {
  grid-column: 4;

  &__btn {
    background-color: transparent;
    border: none;

    &:hover {
      filter: brightness(1.5);
      cursor: pointer;
      // background-color: hsl(var(--clr-primary), .2)
    }

    html[data-theme="light"] & {
      filter: brightness(.5);
    }

  }

  &__content {
    position: fixed;
    top: 2rem;
    right: 0;
    display: flex;
    flex-direction: column;
    display: none;
  }

  &__item {
    display:flex;
    align-items: center;
    min-height: 36px;
    padding-left: 10px;
    padding-right: 5px;
    border-radius: 3px;
  }

  &__text {
    flex-grow: 1;
  }

  &__image {
    flex-grow: 1;
    height: 30px;
    width: auto;
    vertical-align: middle;
  }
}

.list {
  min-height: 300px;
  max-height: 400px;
  overflow-y: auto; 

  &__entry {
    display: flex;
    padding: 1rem;
    text-decoration: none;
    color: hsl(var(--clr-white));
    font-size: 1rem;
    border-block: 1px solid var(--clr-border);

    &-text {
      flex-grow: 1;
    }

    &-image {
      max-height: 2rem;
      aspect-ratio: 1;
    }

    &:hover {
      background-color: hsl(var(--clr-grey), .8);
    }

    html[data-theme="light"] & {
      color: hsl(var(--clr-black));
    }
  }
  &__rate-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
  }

  &__rate {
    flex-grow: 1;
    margin-left: 150px;
  }

  // &__confirm {
  //
  // }

  &__confirm-link {
    font-size: 1rem;
  }

}

.footer {
  background-color: hsl(var(--clr-grey), .6);
  box-shadow: 0px 4px 8px 8px hsl(var(--clr-grey), .6);
  padding-top: .5rem;

  html[data-theme="light"] & {
    color: hsl(var(--clr-black));
  }

  &__links {
    display: flex;
    // justify-content: space-between;
    padding-bottom: .5rem;
    padding-inline: .5rem;
  }

  &__link {
    height: 40px;
    padding: .5rem;
    transition: transform 150ms ease-in-out;
    flex-grow: 1;
    justify-content: center;
    margin-inline: auto;

    &:hover {
      transform: scale(1.2);
    }
  }

}

.bar {
  display: flex;
  height: 40px;
  border-top: 2px solid var(--clr-border);

  & a {
    height: 100%;
  }
  &__statistics {
    display: flex;
    align-items: center;
    padding-left: .5rem;
    flex-grow: 1;
  }

  &__auto-login {
    display: flex;
    align-items: center;
    gap: .5rem;
    padding-inline: 1rem;
    border-left: 2px solid var(--clr-border);
  }

  &__share {
    height: 40px;
    padding: .5rem;
    border-left: 2px solid var(--clr-border);
    cursor: pointer;

    > img {
      filter: brightness(1.5);
      html[data-theme="light"] & {
        filter: brightness(.5);
      }
    }
  }

  &__settings {
    height: 40px;
    padding: .5rem;
    border-left: 2px solid var(--clr-border);
    cursor: pointer;

    > img {
      filter: brightness(1.5);
      html[data-theme="light"] & {
        filter: brightness(.5);
      }
    }
  }
}

#clicks {
  color: hsl(var(--clr-primary));
  font-weight: bolder;
}
#time {
  color: hsl(var(--clr-alert));
  font-weight: bolder;
  cursor: pointer;
}

a > img {
  max-height: 100%;
}

@media (prefers-color-scheme: dark) {
  .invert {
    filter: invert(1) hue-rotate(180deg);
  }

  .emptyStarRating {
    filter: invert(0.8)
  }

  :root {
    /* chrome, webkit */
    color-scheme: dark;
    /* firefox */
    scrollbar-color: #737373 #38383D;
  }
}
