// Colours - HSL values
html, html.dark
    --clr-backgr: 218, 100%, 5%
    --clr-btn: 	218, 100%, 15%
    --clr-btnhov: 218, 100%, 20%
    --clr-btnhov2: 218, 100%, 25%
    --clr-accent: 218, 100%, 50%
    --clr-indicator: 218, 100%, 50%, 0.5
    --clr-indicator-inactive: 0, 0%, 100%
    --clr-text: 218, 45%, 70% 
    --clr-text-help: hsla(218, 45%, 70%, 0.6)
    --clr-card: 218, 100%, 12%
    --clr-alert: 3, 87%, 59%
    --clr-alert-bg: 317, 30%, 23%
    --clr-success: 116, 55%, 46% 
    --clr-success-bg: 157, 57%, 23%
    --clr-warning: 42, 74%, 57%
    --clr-white: 0, 0%, 100%
    --clr-toggle: hsla(218, 45%, 70%, 1)
    --clr-toggle-disabled: hsla(0, 0%, 100%, 0.50)
    --clr-focus: 218, 100%, 87%
    --brd-rad: 8px
    --brd-rad-sm: 4px

    &.light
        --clr-backgr: 218, 100%, 95%
        --clr-btn: 218, 100%, 85%
        --clr-btnhov: 218, 100%, 80%
        --clr-btnhov2: 218, 100%, 75%
        --clr-accent: 218, 100%, 50%
        --clr-indicator: 218, 100%, 50%, 0.5
        --clr-indicator-inactive: 0, 0%, 18%
        --clr-text: 0, 0%, 18%
        --clr-text-help: hsla(0, 0%, 18%, 0.6)
        --clr-card: 218, 100%, 85% 
        --clr-alert: 3, 92%, 46%
        --clr-alert-bg: 2, 95%, 93%
        --clr-success: 116, 75%, 30% 
        --clr-success-bg: 118, 45%, 89%
        --clr-warning: 42, 100%, 42%
        --clr-white: 0, 0%, 100%
        --clr-toggle: hsla(218, 100%, 95%, 1)
        --clr-toggle-disabled: hsla(0, 0%, 0%, .25)
        --clr-focus: 218, 100%, 12%
