.tr-table-state-dark .td {
	background-color: #0B2A51DD;
	color: white;
}

.tr-table-state-dark .td:first-child {
	background-color: #FFFFFF00;
	background-image: linear-gradient(to left, #0b2a51DD, #0a355dDD, #073f68CC, #044b74BB, #00567fAA);
	color: white;
}

.tr-table-state-danger .td, .red {
	background-color: #CE5D7366;
}

.tr-table-state-danger .td:first-child {
	background-color: #FFFFFF00;
	background-image: linear-gradient(to right, #0b2a51DD, #0a355dCC, #073f68BB, #044b74AA, #00567fAA);
	color: white;
}

.tr-table-state-success .td, .green {
	background-color: #91F08C66;
}

.tr-table-state-success .td:first-child {
	background-color: #FFFFFF00;
	background-image: linear-gradient(to right, #0b2a51DD, #0a355dCC, #073f68BB, #044b74AA, #00567fAA);
	color: white;
}

.tr-table-state-primary .td, .blue {
	background-color: #00567FAA;
	color: white;
}

.tr-table-state-primary .td:first-child {
	background-color: #FFFFFF00;
	background-image: linear-gradient(to right, #0b2a51DD, #0a355dDD, #073f68CC, #044b74BB, #00567fAA);
	color: white;
}

.tr-table-state-warn .td {
	background-color: #E5EE1B99;
}

.tr-table-state-warn .td:first-child {
	background-color: #2A272AAA;
	color: white;
}

.tr-table-state-success, .tr-table-state-primary, .tr-table-state-danger, .tr-table-state-warning {
	color: black;
}

.info-row {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 50%;
}

.square {
	width: 20px;
	height: 20px;
	margin: 0 8px;
}

.info-row__info {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 33%
}

#container {
	display: flex;
	align-items: center;
	justify-content: center;
}

#pimpedTable {
	width: 95vw;

}

#pimpedTable .td {
	font-size: inherit;
}

/* fix original css */

#portal-footer {
	height: inherit !important;
}