.tr-table-state-dark .td {
	background-color: #2A272AAA;
	color: white;
}

.tr-table-state-dark .td:first-child {
	background-color: #2A272AAA;
	color: white;
}

.tr-table-state-danger .td {
	background-color: #CE5D7399;
}

.tr-table-state-danger .td:first-child {
	background-color: #2A272AAA;
	color: white;
}

.tr-table-state-success .td {
	background-color: #91F08C99;
}

.tr-table-state-success .td:first-child {
	background-color: #2A272AAA;
	color: white;
}

.tr-table-state-primary .td {
	background-color: #90B5FF99;
}

.tr-table-state-primary .td:first-child {
	background-color: #2A272AAA;
	color: white;
}

.tr-table-state-success, .tr-table-state-primary, .tr-table-state-danger {
	color: black;
}